.Spoiler{

font-size: x-large;
font-weight: bold;

}

h1{

   text-align: center;
    
}

.center{

    display:flex ;
    justify-content: center;
    

}

.imageplacement{

    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.textplacement{

    display: inline-flex;
    align-self: flex-start;
    flex-direction: column;
}
