.Spoiler{

font-size: x-large;
font-weight: bold;

}

h1{

    color: white;
   text-align: center;
    
}

h4 {
    color: white;
}

.center{

    display: flex;
    justify-content: center;
    text-align: center;
    
    

}

.imageplacement{

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
   
}

.textplacement{

    color: white;
    display: inline-flex;
    align-self: flex-start;
    flex-direction: column;
}

body {
    background-color:#2399d6;
}

p {
    color: white;
}

.pText{
    color:black;
    display: inline-flex;
    align-self: flex-start;
    flex-direction: column;
}

ol {
    color: white;
}